<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.com.flank.mapper.DeptMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.flank.beans.Dept">
        <id column="dept_id" property="deptId" />
        <result column="name" property="name" />
        <result column="fax" property="fax" />
        <result column="phone" property="phone" />
        <result column="eamil" property="eamil" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dept_id, name, fax, phone, eamil
    </sql>

</mapper>
